@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

.output {
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    color: black;
    bottom: 0;
    font-family: 'Chakra Petch', sans-serif;
    padding-left: 0%;
    
}